.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.loader-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader-container:before {
  content: '';
  position: absolute;
}

.loader-circular {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.loader-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #4CAF50;
  }
  80%,
  90% {
    stroke: #ffeb3b;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #4CAF50;
  }
  80%,
  90% {
    stroke: #ffeb3b;
  }
}

/* ProgressBar */
.nprogress {
  pointer-events: none;
}

.nprogress .bar {
  background: #03a9f4;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.nprogress .peg {
  display: block;
  position: absolute;
  z-index: 100;
  right: 0;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #03a9f4, 0 0 5px #03a9f4;
  box-shadow: 0 0 10px #03a9f4, 0 0 5px #03a9f4;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

button,
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

button {
  outline: none;
  border: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.05);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

img {
  width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
}

.waves {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  overflow: hidden;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves .waves-ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.waves.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves.waves-blue .waves-ripple {
  background-color: rgba(33, 150, 243, 0.7);
}

.waves .waves-ripple {
  z-index: -1;
}
