/*GENERALES*/
*{
	margin: 0;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased
}
a{
	text-decoration: none;
}
h4{
	color: #fff;
	font-size: 50px;
}
/*scroll*/
body::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
body::-webkit-scrollbar-track{
	background-color: rgba(0, 0, 0, .1); 
}
body::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .3);
}
/*NAV*/
header nav{
	width: 100%;
	background-color: transparent;
	position: fixed;
	transition: all .5s ease;
	z-index: 1;
}
.bg-blue{
	background-color: #083d77;
}
#nav .container{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav .logo{
	color: #fff;
	font-size: 32px;
	padding: 5px 0;
}
#nav ul{
	display: flex;
}
#nav ul li{
	list-style: none;
}
#nav ul li a{
	font-size: 16px;
	display: inline-block;
	margin: 0 10px;
	color: rgba(255, 255, 255, .5);
	transition: all .5s ease;
}
#nav ul li .active{
	color: #fff;
	position: relative;
}
#nav ul li .active:before{
	content: '\f107';
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
}
.nosotros-marker{
	display: flex;
}
.nosotros-marker i{
	margin-left: 4px;
	margin-top: 2px;
	align-self: center;
}
/*SECTIONS*/
#nosotros div, #servicios, #contactanos, footer{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*INICIO*/
#inicio{
	overflow: hidden;
}
#inicio figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: slider 20s infinite;
	animation-delay: 2s;
}
#inicio figure img{
	width: 19.999%;
	float: left;
	display: block;
	z-index: 0;
}
@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
/*NOSOTROS*/
#nosotros div{
	height: 500px;
}
#nosotros #introduccion{
	background-color: #394648;
}
#nosotros #misionVision{
	background-color: #69995d;
}
#nosotros #elegirnos{
	background-color: #181a1e;
}
/*SERVICIOS*/
#servicios{
	background-color: #e3dfff;
}
#servicios h4{
	color: #262626;
}
/*CONTACTANOS*/
#contactanos{
	background-color: #012a36;
}
/*FOOTER*/
footer{
	height: 200px;
	background-color: #181a1e;
	
}