// GENERAL

*, *:before, *:after {
	box-sizing: border-box;
	scroll-behavior: smooth;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
body {
	font-family: $roboto, $sans-serif;
	background-color: $light;
	color: $text-dark;

	// Scroll
	&::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}
	&::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, .05);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: rgba(0, 0, 0, .25);
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba(0, 0, 0, .45);
	}
}

// Titles
h1 {
	font-size: 2em; 
}
h2 {
	font-size: 1.5em; 
}
h3{
	font-size: 1.17em; 
}
h4{
	font-size: 1em;
}

// Images
img{
	width: 100%;
	display: block;
}

// Button & ancla
button, a{
	cursor: pointer;
}