@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: 400;
  text-align: center;
}

section {
  padding: 100px 0;
  height: 100vh;
}
