.loading {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before {
  content: '';
  position: absolute;
}

.circular {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #4CAF50;
  }
  80%,
  90% {
    stroke: #ffeb3b;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #4CAF50;
  }
  80%,
  90% {
    stroke: #ffeb3b;
  }
}

/* ProgressBar */
.nprogress {
  pointer-events: none;
}

.nprogress .bar {
  background: #03a9f4;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.nprogress .peg {
  display: block;
  position: absolute;
  z-index: 100;
  right: 0;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #03a9f4, 0 0 5px #03a9f4;
  box-shadow: 0 0 10px #03a9f4, 0 0 5px #03a9f4;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.header-wrapper, .inicio-wrapper, .nosotros-wrapper, .servicios-wrapper, .contactanos-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 576px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .servicios-wrapper, .contactanos-wrapper {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .servicios-wrapper, .contactanos-wrapper {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .servicios-wrapper, .contactanos-wrapper {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .servicios-wrapper, .contactanos-wrapper {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .servicios-wrapper, .contactanos-wrapper {
    max-width: 1280px;
  }
}

.inicio, .nosotros, .servicios, .contactanos {
  padding-top: 70px;
}

.inicio-title, .nosotros-title, .servicios-title, .contactanos-title {
  text-align: center;
  font-weight: 500;
}

.inicio-title {
  font-size: 2.5em;
}

@media only screen and (min-width: 576px) {
  .inicio-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 768px) {
  .inicio-title {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 992px) {
  .inicio-title {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1200px) {
  .inicio-title {
    font-size: 4.5em;
  }
}

.nosotros-title, .servicios-title, .contactanos-title {
  font-size: 2em;
}

@media only screen and (min-width: 576px) {
  .nosotros-title, .servicios-title, .contactanos-title {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 768px) {
  .nosotros-title, .servicios-title, .contactanos-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 992px) {
  .nosotros-title, .servicios-title, .contactanos-title {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .nosotros-title, .servicios-title, .contactanos-title {
    font-size: 4em;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

button {
  outline: none;
  border: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.05);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

img {
  width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.waves {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  overflow: hidden;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves .waves-ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.waves.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves.waves-blue .waves-ripple {
  background-color: rgba(33, 150, 243, 0.7);
}

.waves .waves-ripple {
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header-active {
  background: #1976d2;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.brand-logo {
  padding: 14.5px 0;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.nav-toggle {
  display: none;
}

@media only screen and (max-width: 767px) {
  .nav-toggle {
    position: absolute;
    z-index: 90;
    display: block;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 13px;
    margin-left: -7px;
    padding: 5px 7px;
    border-radius: 50%;
    color: #ffffff;
    background-color: transparent;
  }
  .nav-toggle-icon {
    font-size: 24px;
  }
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  display: inline-block;
  margin-right: 32px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav-link:hover {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .nav-link.nav-link-active {
    position: relative;
    color: #ffffff;
  }
  .nav-link.nav-link-active:before {
    content: '\f107';
    position: absolute;
    top: -80%;
    left: 50%;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-animation: nav-active 1s infinite;
    animation: nav-active 1s infinite;
  }
}

.nav-item:last-child .nav-link {
  margin-right: 0;
}

.nav-header {
  display: none;
}

.nav-footer {
  display: none;
}

@media only screen and (max-width: 767px) {
  .nav {
    position: fixed;
    z-index: 92;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 300px;
    height: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    overflow: hidden;
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .nav.nav-out {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 91;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .nav-header {
    display: block;
    position: relative;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .nav-header-close {
    position: absolute;
    z-index: 93;
    top: 10px;
    right: 10px;
    background-color: transparent;
  }
  .nav-header-icon {
    font-size: 24px;
    color: #ffffff;
  }
  .nav-header-bg {
    position: absolute;
    z-index: 92;
    width: 100%;
    height: 100%;
    background-image: url("../img/sidenav.png");
    background-size: cover;
    background-position: center;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
  }
  .nav-header-avatar {
    position: absolute;
    z-index: 93;
    left: 15px;
    bottom: 20px;
    color: #ffffff;
  }
  .nav-header-avatar-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url("../img/logo.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  .nav-header-avatar-branch {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .nav-header-avatar-email {
    font-weight: 300;
  }
  .nav-header-avatar-email-icon {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  .nav-content {
    display: block;
    overflow-y: auto;
  }
  .nav-content::-webkit-scrollbar {
    display: none;
  }
  .nav-link {
    display: block;
    margin: 0;
    padding: 16px 0 16px 50px;
    font-size: 18px;
    color: #212121;
  }
  .nav-link:hover {
    color: #212121;
  }
  .nav-link:before {
    content: '\f015';
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    top: 48%;
    -webkit-transform: translate(-35px, -50%);
    -ms-transform: translate(-35px, -50%);
    transform: translate(-35px, -50%);
  }
  .nav-link.nav-link-active {
    color: #2196F3;
  }
  .nav-item:nth-child(2) .nav-link:before {
    content: '\f0c0';
  }
  .nav-item:nth-child(3) .nav-link:before {
    content: '\f06d';
  }
  .nav-item:nth-child(4) .nav-link:before {
    content: '\f1d8';
  }
  .nav-footer {
    display: block;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-footer-nf {
    color: #2196F3;
  }
}

.drag-target {
  display: none;
}

@media only screen and (max-width: 767px) {
  .drag-target {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    height: 100vh;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.005);
  }
}

@-webkit-keyframes nav-active {
  50% {
    -webkit-transform: translate(-50%, 4px);
    transform: translate(-50%, 4px);
  }
}

@keyframes nav-active {
  50% {
    -webkit-transform: translate(-50%, 4px);
    transform: translate(-50%, 4px);
  }
}

.inicio {
  height: 100vh;
  background-color: #2196F3;
}

.inicio-title {
  color: #ffffff;
}

.nosotros {
  height: 100vh;
  background-color: #673ab7;
}

.nosotros-title {
  color: #ffffff;
}

.servicios {
  height: 100vh;
  background-color: #009688;
}

.servicios-title {
  color: #ffffff;
}

.contactanos {
  height: 100vh;
  background-color: #4CAF50;
}

.contactanos-title {
  color: #ffffff;
}

.footer {
  background-color: #212121;
  height: 50vh;
}

.messenger {
  position: fixed;
  z-index: 80;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}

.messenger-facebook, .messenger-facebook-m, .messenger-whatsapp, .messenger-toggle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  font-size: 32px;
  color: #ffffff;
}

.messenger-facebook, .messenger-facebook-m, .messenger-whatsapp {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  z-index: 82;
  opacity: 0;
}

.messenger-facebook {
  background-color: #3b5999;
}

.messenger-facebook-m {
  background-color: #0084ff;
}

.messenger-whatsapp {
  background-color: #4dc247;
}

.messenger-toggle {
  z-index: 83;
  background-color: #9c27b0;
  font-size: 28px;
  opacity: .9;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.messenger-toggle:hover {
  -webkit-box-shadow: 0 0 6px black;
  box-shadow: 0 0 6px black;
  opacity: 1;
}

.messenger-toggle-icon {
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.messenger-toggle-icon:nth-child(2) {
  opacity: 0;
}

.messenger-up .messenger-facebook,
.messenger-up .messenger-facebook-m,
.messenger-up .messenger-whatsapp {
  opacity: .9;
}

.messenger-up .messenger-facebook:hover,
.messenger-up .messenger-facebook-m:hover,
.messenger-up .messenger-whatsapp:hover {
  -webkit-box-shadow: 0 0 6px black;
  box-shadow: 0 0 6px black;
  opacity: 1;
}

.messenger-close .messenger-toggle-icon {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.messenger-close .messenger-toggle-icon:nth-child(1) {
  opacity: 0;
}

.messenger-close .messenger-toggle-icon:nth-child(2) {
  opacity: 1;
}

.messenger-up .messenger-facebook {
  -webkit-transform: scale(1) translateY(-195px);
  -ms-transform: scale(1) translateY(-195px);
  transform: scale(1) translateY(-195px);
}

.messenger-up .messenger-facebook-m {
  -webkit-transform: scale(1) translateY(-130px);
  -ms-transform: scale(1) translateY(-130px);
  transform: scale(1) translateY(-130px);
}

.messenger-up .messenger-whatsapp {
  -webkit-transform: scale(1) translateY(-65px);
  -ms-transform: scale(1) translateY(-65px);
  transform: scale(1) translateY(-65px);
}

.messenger-tooltip {
  display: none;
}

@media only screen and (min-width: 768px) {
  .messenger-tooltip {
    display: block;
    position: absolute;
    z-index: 81;
    color: #212121;
    background-color: #ffffff;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  .messenger-tooltip-facebook {
    -webkit-transform: translate(-60px, -181px);
    -ms-transform: translate(-60px, -181px);
    transform: translate(-60px, -181px);
  }
  .messenger-tooltip-facebook-m {
    -webkit-transform: translate(-68px, -117px);
    -ms-transform: translate(-68px, -117px);
    transform: translate(-68px, -117px);
  }
  .messenger-tooltip-whatsapp {
    -webkit-transform: translate(-64px, -53px);
    -ms-transform: translate(-64px, -53px);
    transform: translate(-64px, -53px);
  }
  .messenger-tooltip-toggle {
    -webkit-transform: translate(-84px, 12px);
    -ms-transform: translate(-84px, 12px);
    transform: translate(-84px, 12px);
  }
}

@media only screen and (min-width: 768px) {
  .messenger-facebook:hover + .messenger-tooltip-facebook,
  .messenger-facebook-m:hover + .messenger-tooltip-facebook-m,
  .messenger-whatsapp:hover + .messenger-tooltip-whatsapp,
  .messenger-toggle:hover + .messenger-tooltip-toggle {
    opacity: 1;
    visibility: visible;
  }
  .messenger-facebook:hover + .messenger-tooltip-facebook {
    -webkit-transform: translate(-80px, -181px);
    -ms-transform: translate(-80px, -181px);
    transform: translate(-80px, -181px);
  }
  .messenger-facebook-m:hover + .messenger-tooltip-facebook-m {
    -webkit-transform: translate(-88px, -117px);
    -ms-transform: translate(-88px, -117px);
    transform: translate(-88px, -117px);
  }
  .messenger-whatsapp:hover + .messenger-tooltip-whatsapp {
    -webkit-transform: translate(-84px, -53px);
    -ms-transform: translate(-84px, -53px);
    transform: translate(-84px, -53px);
  }
  .messenger-toggle:hover + .messenger-tooltip-toggle {
    -webkit-transform: translate(-104px, 12px);
    -ms-transform: translate(-104px, 12px);
    transform: translate(-104px, 12px);
  }
  .messenger-close .messenger-toggle:hover + .messenger-tooltip-toggle {
    opacity: 0;
    visibility: hidden;
  }
}

.messenger-chat {
  position: absolute;
  left: 0;
  z-index: 81;
  width: 300px;
  height: 350px;
  -webkit-transform: translate(-240px, -300px);
  -ms-transform: translate(-240px, -300px);
  transform: translate(-240px, -300px);
  -webkit-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  background-color: #2196F3;
  opacity: 0;
}

.messenger-chat-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.messenger-chat-title-icon {
  display: inline-block;
  font-size: 20px;
}

.messenger-chat-title-icon:nth-child(1) {
  margin-right: 5px;
}

.messenger-chat-title-icon:nth-child(2) {
  margin-left: auto;
  cursor: pointer;
}

.messenger-chat.messenger-chat-up {
  opacity: 0;
  -webkit-transform: translate(-240px, -300px);
  -ms-transform: translate(-240px, -300px);
  transform: translate(-240px, -300px);
  -webkit-animation: chat-up .5s forwards;
  animation: chat-up .5s forwards;
}

.messenger-chat.messenger-chat-down {
  opacity: 1;
  -webkit-transform: translate(-240px, -370px);
  -ms-transform: translate(-240px, -370px);
  transform: translate(-240px, -370px);
  -webkit-animation: chat-down .5s forwards;
  animation: chat-down .5s forwards;
}

@-webkit-keyframes chat-up {
  100% {
    opacity: 1;
    -webkit-transform: translate(-240px, -370px);
    transform: translate(-240px, -370px);
  }
}

@keyframes chat-up {
  100% {
    opacity: 1;
    -webkit-transform: translate(-240px, -370px);
    transform: translate(-240px, -370px);
  }
}

@-webkit-keyframes chat-down {
  100% {
    opacity: 0;
    -webkit-transform: translate(-240px, -300px);
    transform: translate(-240px, -300px);
  }
}

@keyframes chat-down {
  100% {
    opacity: 0;
    -webkit-transform: translate(-240px, -300px);
    transform: translate(-240px, -300px);
  }
}
