body{
  margin: 0;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}
#box{
  position: relative;
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
}
#box div{
  width: 300px;
  height: 300px;
  position: absolute;
  transition: all .5s ease-in;
}
#box1{
  background-color: red;
  transform: scale(.5) translate(-150px, -150px);
  z-index: 2;
}
#box2{
  background-color: blue;
  transform: scale(.5) translate(150px, -150px);
  z-index: 2;
}
#box3{
  background-color: yellow;
  transform: scale(.5) translate(-150px, 150px);
  z-index: 2;
}
#box4{
  background-color: green;
  transform: scale(.5) translate(150px, 150px);
  z-index: 2;
}
.effect{
  transform: scale(1) !important;
}

.index{
  z-index: 5 !important;
}


/* section div:nth-of-type(1):hover{
  transform: scale(1);
  z-index: 2;
}
section div:nth-of-type(2):hover{
  transform: scale(1);
  z-index: 2;
}
section div:nth-of-type(3):hover{
  transform: scale(1);
  z-index: 2;
}
section div:nth-of-type(4):hover{
  transform: scale(1);
  z-index: 2;
} */