// LOADING

.loading {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: $light;
	transition: opacity 1s;
}
.loader {
	position: relative;
	width: 100px;
	height: 100px;
	&:before{
		content: '';
		position: absolute;
	}
}
.circular {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: rotate 2s linear infinite;
}
.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100%,
	0% {
		stroke: $red;
	}
	40% {
		stroke: $blue;
	}
	66% {
		stroke: $green;
	}
	80%,
	90% {
		stroke: $yellow;
	}
}

/* ProgressBar */
.nprogress {
	pointer-events: none;
	.bar {
		background: $light-blue;
		position: fixed;
		z-index: 101;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
	}
	.peg {
		display: block;
		position: absolute;
		z-index: 100;
		right: 0;
		width: 100px;
		height: 100%;
		box-shadow: 0 0 10px $light-blue, 0 0 5px $light-blue;
		opacity: 1;
		transform: rotate(3deg) translate(0px, -4px);
	}
}
